@import "tailwindcss";

@theme {
  --color-primary-black: oklch(0.2562 0 0); /* #232323 */
  --color-primary-brown: oklch(0.7233 0.0574 32.47); /* #c7998f */
  --color-primary-gray: oklch(0.9551 0 0); /* #f0f0f0 */
  --color-primary-darkgray: oklch(0.3639 0 0); /* #3e3e3e */
}
